.img{
    margin-top: 20px;
    width: 100%;
}
img{pointer-events: none;}
.end-login{
    position: absolute;
    bottom: 0;
    float: center;
    padding: 10px;
    width: 100%;
    background-color: #795548a6;
}
p{
    width: 95%  ;
    padding-top: 10px;
}