*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    user-select: none;  
    font-size: 13px;
}
li{list-style: none;} 
img{object-fit: cover;
    content-visibility: auto;
}
body{
    margin-top: 80px;
}
a{text-decoration:none;color:black;cursor: pointer;}
input{outline: 0;}
.d-flex{display: flex;}
.d-block{display: block;}
.d-inline-block{display: inline-block;}
.d-grid{display: grid;grid-column-gap: 200px;grid-template-columns: auto auto auto;}
.d-none{display: none !important;}
.rounded-circle{border-radius: 50%;}
.w-50{width: 50px;height: 50px;cursor: pointer;}
.w-30{width: 25px;height: 25px;cursor: pointer;}
.w-35{width: 35px;height: 35px;cursor: pointer;}
.w-15{width: 13px;height: 13px;cursor: pointer;}
.w-80{width: 80%;}
.w-90{width: 90%;margin: 0 auto;}
.w-100{width: 100%;}
.p-15{padding: 15px;}
.p-5{padding: 5px;}
.cs,i,button,input[type="submit"]{cursor:pointer}
.fs-11{font-size: 11px;}
.fs-12{font-size: 12px;}
.fs-13{font-size: 13px;}
.fs-14{font-size: 14px;}
.clr input,.clr p,.clr b{float: left;}

.text-black{    
    color: rgba(var(--f75,38,38,38),1);-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    font-weight: 600;
    padding: 5px 4px;
    text-align: center;
    user-select: none;
    } 
.text-gray{color:gray}
.text-blue{color:#0095f6}
.bg-blue{background-color:#0095f6}
.text-red{color:#ed4956}
.text-center{text-align:center}
.float-right{float: right;}
.float-left{float: left;}
.float-center{float: center;}
.mr-20{margin-right: 20px;}
.f-11{font-size: 11px;}
.position-relative{position: relative;}
.position-absolute{position: absolute;}
.border-gray{
    border:1px solid  #dbdbdb
}
.un-seen{background-color: #bdbdbd6e ;}
header{
    position: fixed;
    top:0;
    height: 55px;
    width: 100%;
    border-bottom:1px solid #8080804d;
    background-color: white !important;
    z-index: 99;
}
body,.background-gray{
    background-color: #f3f3f3b5;
}
.container{
    height: 100%;
    width: 80%;
    margin:0 auto;
    padding-top:15px;
    background-color: transparent !important;
}
.img-story{margin-left:10px}
.container input.input-search{background-color:rgb(195 195 195 / 9%);padding-left:25%;border:1px solid  #dbdbdb;height:25px;width:200px;}
.container .d-grid div{position: relative;}
.container input.input-search:focus{border-color: #dbdbdb;padding-left:20px;position: relative;}
.search-2{
    position:absolute;top:0;
    left:0;
    margin-left: 20%;
    margin-top:5px;filter:grayscale(100%);
}
.delete{
    position:absolute;top:0;
    margin-left:-20px;
    margin-top:5px;
    opacity: 0;
}
.container input.input-search::placeholder {
    color: #80808087;
  }
.container input.input-search:focus ~ .search-2{ margin:5px;filter:grayscale(100%);}
.container input.input-search:focus ~ .delete{ opacity:1;}
.left{
    width: 60%;
    height: 100px;
    background-color: white;
}
.right{
    top: 0;position: fixed;
    margin-top: 90px;
}
.notification{
    position: absolute;
    top:0;
    margin-top: 40px;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 2px;  
}
.set-noti-width{
    width: 500px;
    margin-left: -425px;
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
}
 .set-user-width{width: 200px;
    margin-left: -163px;}
.set-user-width li i{
    padding: 5px;
}
.set-user-width li  a{
    margin-left: 10px; 
}
.set-user-width li:last-child  a{
    line-height: 30px; 
}
.set-user-width li:hover{
    background-color: #dbdbdb;
}
.f-6{font-weight: 600;}
.notification::before{
    bottom: 100%;
	left: 88%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
    pointer-events: none; 
    border-bottom-color:  #dbdbdb;  
	border-width: 10px;
	margin-left: -10px;
}
.notification .rounded-circle{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    margin-left: 15px;
}
.notification li{
    padding-top: 5px; 
    padding-bottom  : 5px; 
}
.notification .noti-content{  

    margin-left: 70px;
    margin-right: 25px;  
    height: 60px;
    padding-top: 10px;
    border-bottom: 1px solid #dbdbdb;
}
.no-action{
    padding: 15px;
    text-align: center;
}
.cons{
    padding: 5px;
    line-height: 22px;}
.slick-arrow{z-index: 1 !important;}
.count-action{
    position: absolute;
    left: 0;
    background: white;}
.notification p{font-weight: 600;}
.notification .time{opacity: 0.5; }
.notification li button{
    position: absolute;
    top: 0;
    right: 0; 
    margin-top: 15px;
    background-color: #0095f6;
    color:white; 
    border:none;
    padding: 5px;
    border-radius: 5px;
}  
.loader{
    position: fixed;
    z-index: 999999; 
    background: white;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
} 
.loading-first{
    background: url('/img/tenor.gif') no-repeat fixed center;
    width: 100%;
    height: 100%;
}
.hidden{
    animation: faceOut 2s;
    animation-fill-mode: forwards;
}
@keyframes faceOut{
    100%{
        display: none;
        visibility: hidden;
    }
} 