:root {
    --animate-duration: 0.3s !important;
}
html{
    overflow-x: hidden;
}
/* *::-webkit-scrollbar {
    display: none;
} */
p{
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}
.nonevent{pointer-events: none;}
section{
    margin: 0 auto;
    position: relative;
}
.sd{height: 200px;
    width: 70%;
    margin: 0 auto;}
section img.user{
    width: 200px;
    height: 200px; 
    margin-left: 20px;
}
.imguser{ 
    position: absolute;
    top: 50%;
    left: 50%;
}
.constrast{    filter: contrast(0.5);}
section span{
   font-size: 22px;
}
.csa{
    height: 100%;
    margin-left: 30%;
    padding-top: 20px;
} 
.csb a{
    padding: 10px;
    border: 1px solid #bdbdbd;
    margin-right: 20px;
}
#myBtn-2{margin-right: 20px;}
.csc{
   height: 15%;
   margin: 15px 0;
}
.csc p,.list-follow{
    float: left; 
} 
.list-follow{
    margin: 5px;
}
.csc p{
    padding-right: 22px;
}
.csz span{
   font-size: 22px;
}
.csz a{
    padding: 10px;
    border: 1px solid #bdbdbd;
    margin-left: 30px;
    margin-right: 20px;
}
.second{
   width:400px
} 
.modal {
    display: none; 
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);  
} 
.modal-content {
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #888;
}
.upload{
    height: 120px;
    width: 35%;
    max-width: 500px;
    top: 35%;
    padding: 20px;
}
.setting{
    border-radius: 10px;
    width: 40vw;
    max-width: 400px;
}

.setting li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #bdbdbd;
    position: relative;
    height: 50px;
}
.setting li a,.setting li label{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.setting .hed{
    height: 70px;
    font-size: 18px;
    font-weight: 600;
}
.modal-content .label{
    color: #000;
    background: rgb(0, 186, 108);
    border: none;
    padding: 15px;
    border-radius: 5px;
    width: 42%;
    text-align: center;
}
.label2{
    position: absolute;
    right: 0;
    top: 0;
}
.modal-content h4{
    width: 100%;
}
.modal-content .button{
    position: absolute;
    bottom: 20px;
    width: 90%;
}
.modal-content .p{
    position: absolute;
    top: 30%;
    left: 46%;
}
.zpo{
    position: absolute;
    left: 0;
    line-height: 30px;
}
.title {
    display: flex;
    width: 350px;
    font-size: 20px;
    justify-content: space-between;
    position: relative;
}
.title a,.title button{
    color:#0072ffd1; 
}
.image{
    width: 100%;
    transform: translate(35%);
}
.title input{
    position: relative;
    width: 100%;
}
.textarea{
    width: 350px;
    position: relative;
    resize: none;
    height: 75px;
    outline: none;
}
.posts{
    position: relative;
    width: 70%; 
    margin: 0 auto; 
    border-top: 1px solid #bdbdbd;
    min-height: 350px;}
.posts .csd{ 
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}
.posts{
    position: relative;
    width: 70%; 
    margin: 0 auto; 
    border-top: 1px solid #bdbdbd;
    min-height: 350px;} 
.posts .csd button{   
    padding-top: 20px;   
    opacity: 0.7;
}
.bt{ border-top: 1px solid black;opacity:1 !important}
footer ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 10px;
    color: black;
    opacity: 0.5;
    width: 70%;
    margin: 0 auto;
    line-height: 22px;
    padding-left: 10px;
}
.cse{ 
    position: relative;
    margin-bottom: 30px;
}
.uio{  
    margin-right: 28px; 
    margin-left: 28px; 
} 
.cse .clr{
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;} 
.cse .clr i{padding: 7px;}   
.cse:hover .csf{display: flex;z-index: 2;}
.cse:hover img{
    filter: brightness(50%); z-index: 1;
}
.csg{
    height: 90%;
    width: 80%;
    top: 0;
    margin: 3%; 
    position: absolute;
    margin-left: 10%;  
}
.hei{overflow: hidden;}
.hei .csq{
    position: absolute;
    height: 100%;
    width: 70%; 
    object-position: top;
} 
.headcs{
    height: 100%;
    width: 70%;
}
.cle{  
    width: 30%;
    position: absolute;
    right: 0;
    height: 100%;
    background: white;
}
.heq{ 
    z-index: 98;
    height: 7%;}
.heq img,.her img{
    
    width: 40px;
    height: 40px;border-radius: 50%; }
.hew{
    float: left;
    width: 10%; 
    height: 100%;
    margin: 5%;}
.hee{ 
    width: 70%; 
    float: left;
    margin-top: 7%;
}
.hep{ 
    width: 70%; 
    float: left;
    margin-top:7%;
}
.hep a{margin-right: 10px;}
.heq i,.her i{
    margin-top: 7%;}
.her{height: 60%;overflow: auto;width: 100%; 
    border-top: 1px solid #bdbdbd;border-bottom: 1px solid #bdbdbd;}
.het{height: 50px;position: relative;}
.het p{margin-bottom: 20px;}
.f-6{width: 40%;}
.hey{
    height: 20%;border-bottom: 1px solid #bdbdbd;
}
.hey i{
    padding: 10px;
}
.hey p{margin-left: 10px;}
.textarea-comment{
    padding-top: 9px;
    width: 90%;
    height: 100%;
    resize: none;
    border: none;
    float: left;
}
.button-comment{
    width: 10%;
    float: left;
    margin-top: 11px;
    color:#0095f6;
}
textarea::-webkit-scrollbar {
    display: none;
}
.heo{
    position: absolute;
    margin-left: 20%;
    bottom: 0;
}
.disabled{
    opacity: 0.5;
    pointer-events: none;
}
.hea{ 
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
}
.hea b{font-size: 22px;}
.hea p{font-size: 18px;}
.img-thumbnail{
    width: 200px !important;
    height: 200px !important;
    border-radius: 5px !important;
    margin: 30px 0;
}
.post-video .hef{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 30%; 
    text-align: center;}
.post-video .hef p:nth-child(2){
    font-size: 22px;
}
.post-video .hef p:nth-child(3){
    font-size: 14px; 
    margin-top: 10px;
    margin-bottom: 20px;}
.post-video .hef a{ 
    padding: 10px;
    background: #0095f6;
    border-radius: 10px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;}
 
.detail-video{
    width: 60%;
    float: left;

}
.hej{
    height: 900px;
    width: 80%;
}
.hej b{font-size: 19px;}
.hek{height: 500px;
    float: left; 
    width: 40%;}   
.heg:active{
    opacity: 0.5;
}
h2{
    font-size: 30px;
    font-weight: normal; 
    margin-bottom: 20px;
}
.hex{margin-top: 25px;}
.hex input[type='text']{
    width: 100%;
    margin-top: 10px;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #bdbdbd;}
.hec{margin-top: 20px;
    margin-bottom: 30px;}
.hec input { 
    margin: 10px;} 
.heb{
    background-color: #0095f6;
    color: white;
    padding: 5px;
    border-radius: 5px;}
.dz-button{ 
    font-weight: bold;
    font-size: 15px;
}
.dz-default{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px dashed;
    cursor: pointer;
    background: white;
}
.hqq{  
    color: #0095f6;
    font-size: 60px;
}
.dropzone{
    border:none !important;
    background-color: transparent !important;
}
.post-video{
    height: 400px;
}
.follow{
    background: #0095f6;
    border-radius: 5px;
    color: white;
    margin-right: 20px;
    padding: 5px 10px;
}
.follows{  
    background: #0095f6;
    border-radius: 5px;
    color: white;
    width: 80px;
    height: 30px;margin-top:5px
}

.followss{  
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    color: black;
    width: 95px;
    height: 30px;margin-top:5px
}
.fa-15x{font-size: 1.5em !important;}
.settings{text-align: center;
    border-radius: 10px;
    width: 35vw;
    width: 350px; 
    height: 400px;
    overflow: hidden;}
.settingss{
    overflow: auto;
    height: 87%;
    width: 100%;
}
.settings .list{
    overflow: auto;
    height: 350px;
    width: 100%;
}
.settings .one{ 
    padding: 10px;
    border-bottom: 1px solid #bdbdbd;
}
.settings .fa{
    margin-top: 30px;
    padding: 15px;
    zoom: 2;
    border: 2px solid black;
    border-radius: 50%;
}
.settings .two{
    margin: 15px;
    font-size: 20px; 
}
.settings .three{
    margin-bottom: 50px;
}
.zx{
    width: 64%;
    float: left;
    font-size: 14px;
}
.zx img{
    position: absolute;
    top: 0;
    left: 0;
    
    margin-left: 10px;
    margin-top: 5px;}
.zx .zz{
    padding-top: 5px;
    padding-left: 60px;}
.zx .os{
    padding-left: 60px;
} 
.buttons{
    width: 100%;
    text-align: center;}
.buttons button{
    border: 1px solid #bdbdbd;
    padding: 0px 5px;
    border-radius: 50%;
    font-size: 150%;}
    .tooltip {
        position: relative;
        display: inline-block;
      }
      
      .tooltip .tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -75px;
        opacity: 0;
        transition: opacity 0.3s;
      }
      
      .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
      
      .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }

@media only screen and (max-width: 670px){
    .sd{
        margin-top: -20px;
    }
     .modal-content{
        width: 88%;
    }
    #myModal .modal-content p {left:44%}
    .sd,.posts{width: 100%;}
    #myBtn-5{
        width: 100px !important;
        height: 100px !important;
        margin-left: 0;
    }
    .csb{
        display: table;

    }
    .csb span:nth-child(1){ 
        float: left;
        width: 100%;
    }
    .csa{
        padding-top: 0;
    }
    .csb #myBtn-4{
        margin-top: 20px;
        margin-left:  0 !important;
    }
    .csc p{width: 75%; } 
    .name_user{
        margin-left: 65px;
        font-size: 18px;
    }
    .csc p:nth-child(1),.csc p:nth-child(2){width: 50%; } 
    .posts .csd{width: 100%;
        grid-gap: 20px;}
    .cse{
        width: 30%;
        height: 118px;
        margin: 5px;}
    } 