*{
    padding: 0;
    margin: 0; 
    outline: none;
} 
a{text-decoration: none;color:black}
.text-danger{color:red}
body{
    background-color: #fafafa; 
    content: "";
    display: table;
    clear: both; 
    width: 100%;
    margin-top:30px;
} 
button{ outline:none}
.login-left{ 
    float:left;
    width: 50%;
    text-align: right;
}  
.login-right,.register{
    float: left; 
    width: 30%;
    text-align: center;
}  
.login-right .logo{
    margin-bottom: 20px;
}
.login-right{
    border-radius: 2px;
    border: 1px solid #bdbdbd;
    padding: 25px 0px;
    height: 425px;
    background: white;
}
.username {position: relative;}
.username input{
    height: 30px;
    border: 1px solid #bdbdbd;
    font-size: 14px;
    padding-left: 5px;
    border-radius: 3px;
    width: 70%;
    color: #1e2d48;
    margin-bottom: 10px;
    background-color: #bababa14;  
}
.username span{
     
    position: absolute; 
    margin: 0px;
    left: 0; 
    font-size: 14px;
    color: red;

}  
.or{
    display: flex;
    height: 5px; 
    width: 70%;
    margin: auto; 
    opacity: 0.5;
}
.bar{
    width: 40%;
    height: 1px; 
    background-color: #bdbdbd;
    margin-top: 7px;
    padding-left: 10px;
}
.content{
    margin: 0px 23px 0px 25px;}

.fb-login,.google-login,.forget-password{
    width: 70%;
    margin: auto;
    float: center;
    margin-bottom: 15px; 
}  
.fb-login{

    margin-left: 25px;
}
.fb-login a{
    color: #0095f6;
    text-decoration: none;
}
.google-login{
    margin-left: 20px;
}
.google-login a{
    color:brown;
    text-decoration: none;
} 
.register{ 
    background-color: #fff; 
    border: 1px solid #bdbdbd;
    width: 27vw;  
    padding: 20px;
    margin-top: 45px;
}
.register a{
    text-decoration: none;
    color:#0095f6
}
 
button{
    width: 70%;
    border: none;
    padding: 5px;
    background-color: #0095f6; 
    border-radius: 5px;
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    cursor:pointer
}
.click{ 
    position: absolute;
    right: 0;
    width: 40%;
    top: 15%;
    cursor: pointer;
}
@media only screen and (max-width:850px){
    .login-left{display: none;} 
    .login-right {width: 100%;border:none}
    .register{
        width: 80%;
    margin-left: 20px;
    }
}