*{padding: 0;
margin: 0;
box-sizing: border-box;

}
 a{text-decoration: none;color:black}
 button{outline:none}
section{ 
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%); 
    border: 1px solid #bdbdbd;
    height: 525px;
    width: 350px;
    background-color: white;
    text-align: center;
} 
.faa,.fas{
    color:white; 
    padding: 5px;
    border-radius: 5px;
}
.faa{background-color: #0095f6; }
.fas{background-color: rgb(165 42 42 / 81%);}
.username {
    height: 53px;
    position: relative;
    font-family: sans-serif;
    width: 70%;
    margin: auto;
}
.username input {
    height: 30px;
    position: absolute;
    display: block;
    border: 1px solid #bdbdbd;
    width: 100%;
    z-index: 2;
    font-size: 14px;
    padding-left: 5px;
    bottom: 0;
    color: #1e2d48;
    background-color: #bababa14;  
    outline: none;
}
.username span{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    font-size: 14px;
    color: red;
}

.or{
    display: flex;
    height: 5px;
    position: relative;
    width: 70%;
    margin: auto; 
    margin-top: 10px;
}
.bar{
    width: 40%;
    height: 1px; 
    background-color: #bdbdbd;
    margin-top: 7px;
    padding-left: 10px;
}
.content{
    margin: 0px 23px 0px 25px;}
.go{
    color:white;
    background-color: #f6002d; 
    margin-top: -10px;
    padding: 5px;
    border-radius: 5px;
}
.dw{ 
    font-size: 18px;
    line-height: 34px;
    padding-bottom: 10px;
}
p{opacity: 0.5;}
button{
    width: 70%;
    border: none;
    padding: 5px;
    background-color: #0095f6; 
    border-radius: 5px;
    color: white;
    cursor:pointer
}
.login{  
    background-color: #fff; 
    border: 1px solid #bdbdbd;
    width: 350px;
    text-align: center; 
    padding: 20px;
    margin-top: 45px
}
.login a{
    text-decoration: none;
    color:#0095f6
}

.click{ 
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    z-index: 2;
    cursor: pointer;
}
@media only screen and (max-width:850px){
    .login,section{
        border: none;
    }
    section{
        top:41%
    }
}