
@media only screen and (max-width: 1300px){
    .container{width: 80%;}
    .d-grid{grid-column-gap: 100px;}
}

@media only screen and (max-width: 1200px){
    .container{width: 100%;}
    .d-grid{grid-column-gap: 50px;} 
    
}
@media only screen and (max-width: 670px){
    .container{width: 95%;}
    .d-grid{grid-column-gap: 0px;}
   .search-3{display: none;} 
    .w-30{width: 17px;height: 17px;}  
    .left{width: 100%;}
    .container input.input-search{width: 150px;}
    .mr-20{margin-right: 5px;}
    .search {
        width: 150px;
    }
    header ul.d-flex{
        margin-top: 5px;
    }
    .notification {
        margin-top: 33px;
    }
    #myBtn-2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    footer ul{
        width: 100% !important;
    }
}


@media only screen and (max-width: 350px){
    .container{width: 95%;}
    .d-grid{grid-column-gap: 10px;}
   .search-3{display: none;} 
    .w-30{width: 15px;height: 15px;}

}

@media only screen and (max-width: 1000px){
    .hed{width: 100%;}
    .hea{position: inherit;} 
    .right .d-block{width: 100%;}
    .right{width: 45%;}

}